@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



@font-face {
  font-family: 'SF Pro Display Black';
  src: url('/fonts/sf/SF-Pro-Display-Black.otf') format('truetype');
}

@font-face {
  font-family: 'SF Pro Display Heavy';
  src: url('/fonts/sf/SF-Pro-Display-Heavy.otf') format('truetype');
}

@font-face {
  font-family: 'SF Pro Display Bold';
  src: url('/fonts/sf/SF-Pro-Display-Bold.otf') format('truetype');
}
@font-face {
  font-family: 'SF Pro Display Regular';
  src: url('/fonts/sf/SF-Pro-Display-Regular.otf') format('truetype');
}
@font-face {
  font-family: 'SF Pro Display Semibold';
  src: url('/fonts/sf/SF-Pro-Display-Semibold.otf') format('truetype');
}
@font-face {
  font-family: 'SF Pro Display Medium';
  src: url('/fonts/sf/SF-Pro-Display-Medium.otf') format('truetype');
}
@font-face {
  font-family: 'SF Pro Display Light';
  src: url('/fonts/sf/SF-Pro-Display-Light.otf') format('truetype');
}


body {
  font-family: 'SF Pro Display Regular', -apple-system, BlinkMacSystemFont;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.ProjectCard:hover .ProjectImageCard{
  transform: scale(1.1) rotate(0deg);
  transform-origin: bottom right;
  transition: transform 0.2s ease-in-out;
}


